.test{
    color: aqua;
}

.arrow{
    border: none;
    height: 100px;
    width: 50px;
    position: sticky;

}
.arrow:hover{
    cursor: pointer;
}

.table{
    table-layout: fixed;
    width:;
    height:;
}