.test{
    color: aqua;
}
.img{
    width: auto;;
    height: 500px 
}
.arrow{
    border: none;
    height: 100px;
    width: 50px;
}
.arrow:hover{
    cursor: pointer;
}

.th{
    height: 100px;
    width: auto;
}
.th:hover{
    cursor: pointer;
    color: black;
}

.arrowLower{
    border: none;
    height: 100px;
    width: 50px;
}
.arrowLower:hover{
    cursor: pointer;
}